sonar.jdbc.username={{ sonar_user }}
sonar.jdbc.password={{ sonar_password }}
sonar.jdbc.url=jdbc:postgresql://{{ database_ip }}/sonar
sonar.web.host={{ sonar_ip }}
sonar.search.javaOpts=-Xms512m  -Xmx512m